body {
 font-family: 'Roboto', sans-serif;
}

.background {
 position: absolute;
 background-image: url(https://i.gifer.com/ETfS.gif);
 background-size: cover;
 top: 0;
 right: 0;
 z-index: 0;
 width: 100%;
 height: 100%;
 filter: blur(5px);
}

.container {
 width: 345px;
 height: 552px;

 border-radius: 10%;
 background-color: black;
 color: white;
 margin: auto;
 margin-top: 3.4rem;
 position: relative;
 z-index: 1;
 border: 1px solid #808080; 
 position: sticky;
}

div#content {
 margin: 50px 0 auto 20px;

}

.profile {
 width: 150px;
 height: 150px;
 margin-top: auto;
 margin-left: 4.9rem;
 border-radius: 100%;
}

h2 {
 font-size: 32px;   
 font-weight: bold;
 margin: 10px auto 0 80px;
}

h6 {
 font-size: 16px;
 font-weight: 500;
 margin: 5px auto 35px 120px;
 color: #808080;
}

span {
 margin: 0 auto 15px 85px;
 font-size: 28px;
 font-weight: bold;
}

p {
 font-size: normal;
 display: inline-flex;
 justify-content: center;
}

.badge-container {
 display: flex;
 justify-content: center;
 gap: 5px;
 position: relative;
}

.badge img {
 width: 30px;
 height: 30px;
 background-size: cover;
}

.badge-info {
 position: absolute;
 top: 100%;
 left: 50%;
 transform: translateX(-50%);
 opacity: 0;
 pointer-events: none;
 transition: opacity 0.3s ease-in-out;
 background-color: rgba(54, 55, 57, 0.8);
 color: #FFFFFF;
 padding: 5px;
 border-radius: 5px;
 font-size: 9px;
 white-space: nowrap;
}

.badge:hover .badge-info {
    opacity: 1;
}

.icone-container {
 padding-top: 45px;
 display: flex;
 justify-content: center;
}

.icone img {
 width: 35px;
 height: 35px;
 border-radius: 100%;
 padding: 9px;
}

.icone img:hover  {
 background: rgba(255, 255, 255, 0.25);
 transform: scale(1.09);
 transition: ease-out all;
}